<h1>Hello, Homeowner!</h1>
<p>Welcome to your IoT homepage, built with:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li>Azure Fabric Services</li>
</ul>
<p>We have the following actors:</p>
<ul><li>Calculator</li>
  <li>StatefulActor</li>
  <li>StatelessActor<li>
  </ul>
